@model BTL_Nhom8.Dto.Cart
@{
    ViewBag.Title = "Final_Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
         style="background-image: url(/wwwroot/img/bg-img/24.jpg);">
        <h2>Sản phẩm</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cửa hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h1 style="color:red; font:bolder">Thanh toán thành công</h1>
<br />
<br />



