@{
    ViewBag.Title = "Home Page";
}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/wwwroot/img/bg-img/tranh-dong-que-viet-nam-40.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Welcome to ALAZEA</h2>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">Bắt đầu</a>
                                <a href="#" class="btn alazea-btn active">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">

            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/wwwroot/img/bg-img/the-gioi-than-tien.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Welcome to ALAZEA</h2>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">Bắt đầu</a>
                                <a href="#" class="btn alazea-btn active">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">

            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/wwwroot/img/bg-img/269662314_252878396798938_5468186711825889890_n.jpg); "></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>Welcome to ALAZEA</h2>
                            <div class="welcome-btn-group">
                                <a href="#" class="btn alazea-btn mr-30">Bắt đầu</a>
                                <a href="#" class="btn alazea-btn active">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
<section class="alazea-portfolio-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Danh mục đầu tư của chúng tôi</h2>
                    <p>Chúng tôi dành tất cả những năng lực và kinh nghiệp của mình để tạo ra</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="alazea-portfolio-filter">
                    <div class="portfolio-filter">
                        <button class="btn active" data-filter="*">Tất cả</button>
                        <button class="btn" data-filter=".design">Tranh phong thủy</button>
                        <button class="btn" data-filter=".garden">Tranh hoa</button>
                        <button class="btn" data-filter=".home-design">Tranh chân dung</button>
                        <button class="btn" data-filter=".office-design">Tranh động vật</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alazea-portfolio">

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item home-design wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/chandung/chua-giesu.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/chandung/chua-giesu.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 1">
                        <div class="port-hover-text">

                            <h5>Chúa Gie-su</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item home-design wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/chandung/duc-me-dong-trinh.jpg);"></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/chandung/duc-me-dong-trinh.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 2">
                        <div class="port-hover-text">

                            <h5>Đức mẹ đồng trinh</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/phongcanh/bến-đợi.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/phongcanh/bến-đợi.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 3">
                        <div class="port-hover-text">

                            <h5>Bến đợi</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design wow fadeInUp" data-wow-delay="400ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/phongcanh/ha-long.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/phongcanh/ha-long.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 4">
                        <div class="port-hover-text">

                            <h5>Hạ long</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="100ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/hoa/dam-sen.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/hoa/dam-sen.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 5">
                        <div class="port-hover-text">

                            <h5>Đầm sen</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item office-design wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/dongvat/bat-ma-truy-phong.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/dongvat/bat-ma-truy-phong.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">

                            <h5>Bắt mã truy phong</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item office-design wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/dongvat/ma-dao-thanh-cong.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/dongvat/ma-dao-thanh-cong.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">

                            <h5>Mã đáo thành công</h5>
                        </div>
                    </a>
                </div>
            </div>           
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/phongcanh/canh-rung.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/phongcanh/canh-rung.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">

                            <h5>Cánh rừng</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item design wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/phongcanh/Dong-que.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/dongvat/bat-ma-truy-phong.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">
                            <h5>Đồng quê</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Single Portfolio Area -->
            <div class="col-12 col-sm-6 col-lg-3 single_portfolio_item garden wow fadeInUp" data-wow-delay="200ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/hoa/gio-hong.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/hoa/gio-hong.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 6">
                        <div class="port-hover-text">
                            <h5>Giỏ hồng</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Portfolio Area -->
            <div class="col-12 col-lg-6 single_portfolio_item office-design wow fadeInUp" data-wow-delay="300ms">
                <!-- Portfolio Thumbnail -->
                <div class="portfolio-thumbnail bg-img" style="background-image: url(/wwwroot/img/images/dongvat/chim-uyen-uong.jpg); "></div>
                <!-- Portfolio Hover Text -->
                <div class="portfolio-hover-overlay">
                    <a href="~/wwwroot/img/images/dongvat/chim-uyen-uong.jpg" class="portfolio-img d-flex align-items-center justify-content-center" title="Portfolio 7">
                        <div class="port-hover-text">
                            @*<h3>Cửa hàng hoa tối thiểu</h3>*@
                            <h5>Chim uyên ương</h5>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Product Area Start ##### -->
<section class="new-arrivals-products-area bg-gray section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Sản phẩm mới</h2>
                    <p>Chúng tôi có những sản phẩm mới nhất, chắc chắn đem đến những thú vị cho bạn</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/images/chandung/uyen-uong.jpg" alt=""></a>
                        <!-- Product Tag -->
                        <div class="product-tag">
                            <a href="#">Hot</a>
                        </div>
                        <div class="product-meta d-flex">

                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Tranh uyên ương</p>
                        </a>
                        <h6>500000đ</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="200ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/images/chandung/thieu-nu-ben-hoa-hue.jpg" alt=""></a>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Tranh thiếu nữ bên hoa huệ</p>
                        </a>
                        <h6>500000đ</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/images/chandung/thieu-nu.jpg" alt=""></a>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Tranh thiếu nữ</p>
                        </a>
                        <h6>500000đ</h6>
                    </div>
                </div>
            </div>

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a href="shop-details.html"><img src="~/wwwroot/img/images/dongvat/binh-yen.jpg" alt=""></a>
                        <!-- Product Tag -->
                        <div class="product-tag sale-tag">
                            <a href="#">Hot</a>
                        </div>
                        <div class="product-meta d-flex">
                            <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                            <a href="cart.html" class="add-to-cart-btn">Thêm vào giỏ</a>
                            <a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-15 text-center">
                        <a href="shop-details.html">
                            <p>Tranh bình yên</p>
                        </a>
                        <h6>500000đ</h6>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="#" class="btn alazea-btn">Xem tất cả</a>
            </div>

        </div>
    </div>
</section>
<!-- ##### Product Area End ##### -->
<!-- ##### Testimonial Area Start ##### -->
<section class="testimonial-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/13.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea</p>
                                    </div>
                                    <p>"Shop có nhiều mẫu thiết kế đẹp,đa dạng,nhiều kích cỡ,giá cả hợp lý!"</p>
                                    <div class="testimonial-author-info">
                                        <h6>Anh Huy</h6>
                                        <p>Giám đốc của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/14.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea</p>
                                    </div>
                                    <p>"Shop có nhiều mẫu thiết kế đẹp,đa dạng,nhiều kích cỡ,giá cả hợp lý!"</p>
                                    <div class="testimonial-author-info">
                                        <h6>Chị Islam</h6>
                                        <p>Phó Giám đốc của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="~/wwwroot/img/bg-img/15.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>Đánh giá phản hồi</h2>
                                        <p>Một số phản hồi tốt từ phía khách hàng về Alazea<</p>
                                    </div>
                                    <p>"Shop có nhiều mẫu thiết kế đẹp,đa dạng,nhiều kích cỡ,giá cả hợp lý!"</p>
                                    <div class="testimonial-author-info">
                                        <h6>Anh Đạt</h6>
                                        <p>Trưởng phòng của Esolab</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonial Area End ##### -->
<section class="subscribe-newsletter-area" style="background-image: url(/wwwroot/img/bg-img/subscribe.png); ">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading mb-0">
                    <h2>THAM GIA BẢN TIN</h2>
                    <p>Đăng ký nhận bản tin của chúng tôi và được giảm giá 10% khi mua hàng đầu tiên của bạn</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="subscribe-form">
                    <form action="#" method="get">
                        <input type="email" name="subscribe-email" id="subscribeEmail" placeholder="Nhập email của bạn ">
                        <button type="submit" class="btn alazea-btn">ĐĂNG KÝ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Subscribe Side Thumbnail -->
    <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
        <img class="first-img" src="~/wwwroot/img/core-img/leaf.png" alt="">
    </div>
</section>
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>LIÊN LẠC</h2>
                    <p>Gửi tin nhắn cho chúng tôi, chúng tôi sẽ gọi lại sau</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Tên của bạn">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-subject" placeholder="Chủ đề">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Nội dung"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">Gửi tin nhắn</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Google Maps -->
                <div class="map-area mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22236.40558254599!2d-118.25292394686001!3d34.057682914027104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z4Kay4Ka4IOCmj-CmnuCnjeCmnOCnh-CmsuCnh-CmuCwg4KaV4KeN4Kav4Ka-4Kay4Ka_4Kar4KeL4Kaw4KeN4Kao4Ka_4Kav4Ka84Ka-LCDgpq7gpr7gprDgp43gppXgpr_gpqgg4Kav4KeB4KaV4KeN4Kak4Kaw4Ka-4Ka34KeN4Kaf4KeN4Kaw!5e0!3m2!1sbn!2sbd!4v1532328708137" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->