<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img" style="background-image: url(wwwroot/img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="~/wwwroot/img/core-img/logo.png" alt=""></a>
                        </div>
                        <p>Nơi đem đến những bức tranh thiên nhiên đa dạng phong phú và vô cùng đẹp mắt</p>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>Liên kết nhanh</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="#">Mua</a></li>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Trở về</a></li>
                                <li><a href="#">Quảng cáo</a></li>
                                <li><a href="#">Đang chuyển hàng</a></li>
                                <li><a href="#">Nghề nghiệp</a></li>
                                <li><a href="#">Đơn hàng</a></li>
                                <li><a href="#">Chính sách</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>              

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>Liên hệ</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Địa chỉ:</span> 505 Silk Rd, New York</p>
                            <p><span>Điện thoại:</span> +1 234 122 122</p>
                            <p><span>Email:</span> info.deercreative@gmail.com</p>
                            <p><span>Mở cửa:</span> Mon - Sun: 8 AM to 9 PM</p>
                            <p><span>Giờ khuyến mãi:</span> Sat: 2 PM to 4 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Bản quyền &copy;
                            <script>document.write(new Date().getFullYear());</script> Bảo lưu mọi quyền hành | Mẫu được tạo <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Footer Nav -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                <li><a href="#">Về</a></li>
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Danh mục tranh</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->
