<div class="fixed-button">
    <a href="https://codedthemes.com/item/guru-able-admin-template/" target="_blank"
       class="btn btn-md btn-primary">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro
    </a>
</div>
