
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Areas/Admin/Assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Assets/css/jquery.mCustomScrollbar.css">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            @{ Html.RenderPartial("_MenuTop");}
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- menu left -->

                    @{ Html.RenderPartial("_MenuLeft");}

                    <!-- menu left -->
                    @RenderBody()
                </div>
            </div>
            @{ Html.RenderPartial("_ButtonFoot");}
        </div>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/modernizr/modernizr.js"></script>
    <!-- am chart -->
    <script src="~/Areas/Admin/Assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/Areas/Admin/Assets/pages/widget/amchart/serial.min.js"></script>
    <!-- Todo js -->
    <script type="text/javascript " src="~/Areas/Admin/Assets/pages/todo/todo.js "></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Areas/Admin/Assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/script.js"></script>
    <script type="text/javascript " src="~/Areas/Admin/Assets/js/SmoothScroll.js"></script>
    <script src="~/Areas/Admin/Assets/js/pcoded.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/demo-12.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Assets/js/modernizr/modernizr.js"></script>
    @*<script type="text/javascript" src="~/Areas/Admin/Assets/js/modernizr/css-scrollbars.js"></script>*@
    <script src="~/Areas/Admin/Assets/js/common-pages.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        var $window = $(window);
        var nav = $('.fixed-button');
        $window.scroll(function () {
            if ($window.scrollTop() >= 200) {
                nav.addClass('active');
            }
            else {
                nav.removeClass('active');
            }
        });</script>
    <script src="~/wwwroot/js/DeleteCategory.js"></script>
    <script src="~/wwwroot/js/DeleteProduct.js"></script>
    <script src="~/wwwroot/js/Account.js"></script>

</body>

</html>
