<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">

        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="ti-menu"></i>
            </a>
            <a class="mobile-search morphsearch-search" href="#">
                <i class="ti-search"></i>
            </a>
            <a href="index.html">
                <img class="img-fluid" src="~/Areas/Admin/Assets/images/logo.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li>
                    <div class="sidebar_toggle">
                        <a href="javascript:void(0)"><i class="ti-menu"></i></a>
                    </div>
                </li>

                <li>
                    <a href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="ti-fullscreen"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="header-notification">
                    <a href="#!">
                        <i class="ti-bell"></i>
                        <span class="badge bg-c-pink"></span>
                    </a>
                    <ul class="show-notification">
                        <li>
                            <h6>Thông báo</h6>
                            <label class="label label-danger">Mới</label>
                        </li>
                        <li>
                            <div class="media">
                                <img class="d-flex align-self-center img-radius"
                                     src="~/Areas/Admin/Assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="notification-user">Ngô Văn Hiệp</h5>
                                    <p class="notification-msg">
                                        Xin chào
                                    </p>
                                    <span class="notification-time">30 phút trước</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="d-flex align-self-center img-radius"
                                     src="~/Areas/Admin/Assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="notification-user">Ngô Văn Hiệp</h5>
                                    <p class="notification-msg">
                                        Xin chào
                                    </p>
                                    <span class="notification-time">30 phút trước</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="d-flex align-self-center img-radius"
                                     src="~/Areas/Admin/Assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="notification-user">Ngô Văn Hiệp</h5>
                                    <p class="notification-msg">
                                        Xin chào
                                    </p>
                                    <span class="notification-time">30 phút trước</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="user-profile header-notification">
                    <a href="#!">
                        <img src="~/Areas/Admin/Assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                        <span>@Session["UserName"]</span>
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="show-notification profile-notification">
                        <li>
                            <a href="#!">
                                <i class="ti-settings"></i> Cài đặt
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-user"></i> Thông tin tài khoản
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-email"></i> Tin nhắn
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-lock"></i> Khóa màn hình
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Home")">
                                <i class="ti-layout-sidebar-left"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
