
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                    <span class="text-c-blue f-w-600">Danh mục</span>
                                    <h4>5</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Thêm không gian
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                                    <span class="text-c-pink f-w-600">Sản phẩm</span>
                                    <h4>520</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>24 giờ qua
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i>
                                    <span class="text-c-green f-w-600">Tài khoản</span>
                                    <h4>45</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Theo dõi qua microsoft
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
                                    <span class="text-c-yellow f-w-600">Hóa đơn</span>
                                    <h4>25</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Vừa cập nhật
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card1 end -->
                        <!-- Statestics Start -->
                        <div class="col-md-12 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Biểu đồ thống kê</h5>
                                    <div class="card-header-left ">
                                    </div>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div id="statestics-chart" style="height:517px;"></div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12 col-xl-4">
                            <div class="card fb-card">
                                <div class="card-header">
                                    <i class="icofont icofont-social-facebook"></i>
                                    <div class="d-inline-block">
                                        <h5>facebook</h5>
                                        <span>Dong thời gian</span>
                                    </div>
                                </div>
                                <div class="card-block text-center">
                                    <div class="row">
                                        <div class="col-6 b-r-default">
                                            <h2>23</h2>
                                            <p class="text-muted">Tích cực</p>
                                        </div>
                                        <div class="col-6">
                                            <h2>23</h2>
                                            <p class="text-muted">Bình luận</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card dribble-card">
                                <div class="card-header">
                                    <i class="icofont icofont-social-dribbble"></i>
                                    <div class="d-inline-block">
                                        <h5>KPI</h5>
                                        <span>Phân tích sản phẩm</span>
                                    </div>
                                </div>
                                <div class="card-block text-center">
                                    <div class="row">
                                        <div class="col-6 b-r-default">
                                            <h2>23</h2>
                                            <p class="text-muted">Trực tiếp</p>
                                        </div>
                                        <div class="col-6">
                                            <h2>23</h2>
                                            <p class="text-muted">Lời nhắn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card twitter-card">
                                <div class="card-header">
                                    <i class="icofont icofont-social-twitter"></i>
                                    <div class="d-inline-block">
                                        <h5>Twitter</h5>
                                        <span>Dòng thời gian mới hiện tại</span>
                                    </div>
                                </div>
                                <div class="card-block text-center">
                                    <div class="row">
                                        <div class="col-6 b-r-default">
                                            <h2>25</h2>
                                            <p class="text-muted">New tweet</p>
                                        </div>
                                        <div class="col-6">
                                            <h2>450+</h2>
                                            <p class="text-muted">Lượt theo dõi</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>
